@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(16, 4, 59);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.header {
  background-color: rgb(9, 3, 30);
  color: white;
  position: fixed;
  height: 60px;
  width: 100vw;
  border-bottom: 3px solid rgb(27, 27, 255);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container {
  padding-top: 60px;
  flex: 1;
}

.sidebar-container {
  position: fixed;
  margin-top: 63px;
  width: 230px;
  height: 300px;
  left: -203px;
}

.sidebar-body {
  background-color: rgb(9, 3, 30);
  border-right: 3px solid rgb(27, 27, 255);
  border-bottom: 3px solid rgb(27, 27, 255);
  color: white;
  display: inline-block;

  /* position: fixed;
  margin-top: 3px; */
  width: 200px;
  height: fit-content;
}

.sidebar-header {
  height: 40px;
  background-color: rgb(8, 8, 81);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-body li {
  list-style: none;
}

.sidebar-btn {
  position: relative;
  top: -30px;
  left: 203px;
  height: 30px;
  width: 20px;
  cursor: pointer;

  background-color: rgb(16, 132, 80);
  color: white;

  border-style: none;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidebar-btn.visible {
  background-color: rgb(132, 22, 16);
}

.add-task {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0px 15px 15px 15px;
  font-size: 18px;
}

.add-task div{
  margin-bottom: 10px;
  align-items: end;
}

/* .form-checkbox input {
  align-self: center;
  width: 15px;
  height: 15px;
  cursor: pointer;

  background-color: rgb(15, 15, 93);
} */

.form-checkbox {
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  align-self: center;
  width: 15px;
  height: 15px;
  cursor: pointer;

  accent-color: rgb(15, 15, 93);
}

input[type="checkbox"]:checked::before {
  border-style: solid;

}

input[type="text"] {
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(27, 27, 255);
  background-color: rgb(15, 15, 93);
  color: white;
}

.submit {
  background-color: rgb(27, 27, 255);
  border-style: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  height: 20px;
}

@keyframes sidebarIn {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}

.sidebar-container.visible {
  left: 0px;
}

.tasks-container {
  border: 2px rgb(27, 27, 255) solid;
  border-radius: 10px;
  width: 500px;
  margin: 30px auto;
  overflow-y: auto;
  scrollbar-color: rgb(27, 27, 255);
  max-height: 70vh;
}

.task-container {
  margin: 10px 20px;
  border-radius: 2px;

  background-color: dimgrey;
  color: white;
}

.task-container h3 {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-container p {
  padding: 0 5px;
  color: rgb(16, 16, 16);
}

.no-tasks {
  padding: 30px;
  background-color: dimgray;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reminder {
  border-left: 5px greenyellow solid;
}

footer {
  width: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: white;
}

.about-container {
  border: 2px rgb(27, 27, 255) solid;
  border-radius: 10px;
  width: 500px;
  margin: 30px auto;
  padding: 30px;
  background-color: dimgray;

  display: flex;
  flex-direction: column;
  align-items: center;
}

